<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<trace enabled="true" />

		<httpHandlers>
			<add path="*" verb="*" type="Piccolo.PiccoloHttpHandler" />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<handlers>
			<remove name="OPTIONSVerbHandler" />
			<add path="*" verb="*" name="Piccolo.PiccoloHttpHandler" type="Piccolo.PiccoloHttpHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<httpErrors existingResponse="PassThrough" />

		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>