<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />

		<httpHandlers>
			<add path="*." verb="*" type="Piccolo.HttpHandler" />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add path="*." verb="*" name="Piccolo.HttpHandler" type="Piccolo.HttpHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>