<div ng-init="init()" class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1>
				Task: {{task.title}}
				<small ng-show="task.isCompleted">completed</small>
				<small ng-show="!task.isCompleted">in-progress</small>
			</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nibh nisi, vulputate quis hendrerit blandit, ultrices id odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer erat velit, euismod non volutpat at, ornare id mi. Suspendisse ut volutpat nulla. Nunc varius tincidunt mauris. Vivamus accumsan quam eget nibh faucibus dignissim. Nulla eleifend erat non auctor porttitor. Vestibulum at ultrices erat.
			</p>
			<a href="#">« All tasks</a>
		</div>
		<div class="col-lg-4">
		</div>
	</div>
</div>
