<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1>
				Tasks
				<small ng-show="pageSize >= totalCount">Showing all tasks</small>
				<small ng-show="pageSize < totalCount">Showing {{pageSize}} of {{totalCount}} tasks</small>
			</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Is Completed?</th>
						<th></th>
					</tr>
				</thead>
				<tr ng-repeat="task in tasks">
					<td>{{task.Id}}</td>
					<td>
						<a href="#/{{task.Id}}">{{task.Title}}</a>
					</td>
					<td>
						<input ng-model="task.IsCompleted" ng-click="toggleCompletion(task.Id, task.IsCompleted == true)" type="checkbox" />
					</td>
					<td>
						<a ng-click="removeTask(task.Id)" href="javascript:" class="text-danger">delete</a>
					</td>
				</tr>
			</table>
			<div ng-show="pageSize < totalCount" class="text-center">
				<ul class="pagination">
					<li><a ng-click="showPreviousPage()" class="prev" href="javascript:">&laquo;</a></li>
					<li ng-repeat="pageNumber in pageNumbers">
						<a ng-click="showPage(pageNumber)" href="javascript:">{{pageNumber}}</a>
					</li>
					<li><a ng-click="showNextPage()" class="next" href="javascript:">&raquo;</a></li>
				</ul>
			</div>
		</div>
		<div class="col-lg-4">
			<h2>Add New Task</h2>
			<form ng-submit="addTask()">
				<div class="form-group">
					<input ng-model="newTaskTitle" type="text" class="form-control" placeholder="take over the world?">
				</div>
				<button type="submit" class="btn btn-primary">Add Task</button>
			</form>
		</div>
	</div>
</div>
